.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td{padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #ddd}.table>thead>tr>td{vertical-align:bottom;border-bottom:2px solid #ddd}

#wrap{
	width:1180px;
	margin:0 auto
}

.margin{
	margin-top:-20px;
	margin-bottom:-20px
}

   #map{
	height: 343px; width:100%
}

.space{
	margin:10px 0px;
}

.space2{
	margin:0 0 10px 0px;
}

.cstm-nav{
	background: #132F54;
	margin-top: -1px;
	
}
.cstm-menu ul li a
{
	color: white;
	font-family: helvetica;
	font-size: 13px;
}

label.control-label{
	text-align:left
}


.cstm-menu ul li a:hover{
	background: none;
	text-decoration:underline
}
.top-img img{
	/*position: absolute;*/
	width: 100%;
}
.search{
	margin-top: -7%;
	position: absolute;
	float:right
}
.search input[type='text']{
	border: 1px solid #999;
	height: 30px;
	width: 20%;
}

.top-head{
	position: absolute;
	margin-top: -12%;
	
}
.top-head h2{
	color: #273E67;
	font-weight: bolder;
	font-size: 27px;
	text-transform: uppercase;
	
}
.contact{
	color: #132F54;
	text-align: right;
	margin-right: 0%;
}
.sub-nav{
	background: #132F54;
	width: 100%;
}
.sub-nav ul{
	padding-top: 5px;
	list-style: none;
	text-align:center;
	
}
.sub-nav ul li{
	display: inline;
	margin: 5px;
	text-align:center
}
.sub-nav ul li a{
	text-decoration: none;
	color: white;
	text-align:center;
	font-family: helvetica;
	/*letter-spacing: 1px;*/
}

.sub-nav ul li a:hover{
	text-decoration: none;
	color: white;
	text-align:center;
	font-family: helvetica;
	text-decoration:underline
	/*letter-spacing: 1px;*/
}


.slider-main{
	width: 100%;
	height: 250px;
	background: -webkit-linear-gradient(#8C8C8C, #E5E6E8);
	background: linear-gradient(#8C8C8C, #E5E6E8);
	
}
.border{
	border: 1px solid #333;
}

.box{
	border: 1px solid #CCC;
	padding: 18px;
	
}

.box1{
	border: 1px solid #CCC;
	padding: 18px;
	height:650px
	
}

.box-2{
	border: 1px solid #CCC;
	padding: 18px;
	height: 480px
	
}

.box-2:hover{
	box-shadow: 1px 2px 3px #CCC;
}

.box-home{
	border: 1px solid #CCC;
	padding: 18px;
	height:580px
	
}

.box-home:hover{
	box-shadow: 1px 2px 3px #CCC;
}

.box-mem{
	border: 1px solid #CCC;
	padding: 18px;
	height:770px
	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
   #map{
	height: 331px; width:100%
}

}

.box-mem:hover{
	box-shadow: 1px 2px 3px #CCC;
}

.box1:hover{
	box-shadow: 1px 2px 3px #CCC;
}

.box3{
	border: 1px solid #CCC;
	padding: 18px;
	height:1020px
	
}

.box3:hover{
	box-shadow: 1px 2px 3px #CCC;
}


.box2:hover{
	box-shadow: 1px 2px 3px #CCC;
}

.box:hover{
	box-shadow: 1px 2px 3px #CCC;
}
.box-title{
	color: #273F61;
	font-weight: bolder;
	font-size: 19px;
}
.box-sub{
	color: #273F61;
	font-weight: bolder;
	font-size: 16px;
}
.box-content{
	color: black;
	letter-spacing: 1px;
	font-size: 16px;
}
.box a{
	color: #428Bca;
	font-family: helvetica;
	font-weight:500

}
.box a:hover{
	color: #273F61;
	font-family: helvetica;
	text-decoration:underline

}
.box-sub-title{
	font-size: 15px;
	text-transform: uppercase;
}
.box table tr{

}
.cstm-aero{
	background: none;
}
.footer{
	overflow: hidden;
	margin-top:390px

}

.social{
	color: #A4A4A4;
	float: right;
	margin-top: -35px;
	padding-bottom: 3px;
}
.social i{
	cursor: pointer;
	border-radius: 0px;
}

.carousel-control {
	padding-top:10%;
	width:5%;
}

.cstm-l-aero{
	background: none;
}
.cstm-l-aero:hover{
	background: none;
	box-shadow: none;
}
.cstm-l-aero i{
	margin-left: -100px;
}
.cstm-r-aero i{
	margin-left: 100px;
}

ol.a {
	color: black;
	letter-spacing: 1px;
	font-size: 16px;
}

ul.b {
	color: black;
	letter-spacing: 1px;
	font-size: 16px;
}

ol.c {
	color: black;
	letter-spacing: 1px;
	font-size: 16px;
	list-style:lower-alpha
}

.left{
	margin-left:-55px
}

.right{
	margin-right:-55px
}



ul.a {
	color: black;
	letter-spacing: 1px;
	font-size: 16px;


}

li.a{
	margin-bottom:9px;
	margin-left:-25px
}

a.crumb{color:#fff;text-decoration:none; font-weight:bold}
a.crumb:hover,a:focus{color:#fff;text-decoration:underline}